<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.dao.DeviceMapper">

    <insert id="addDevice" parameterType="Device">
        insert into train.device (typeid, devicename, norms, `describe`,`deviceno`,devicestatus,rentstatus,factoryid)
        values (#{typeid},#{devicename},#{norms},#{describe},#{deviceno},#{devicestatus},#{rentstatus},#{factoryid});
    </insert>

    <delete id="deleteDeviceById" parameterType="long">
        delete from train.device where ID = #{ID};
    </delete>

    <delete id="deleteDeviceByTypeId" parameterType="long">
        delete from train.device where typeid = #{typeid};
    </delete>

    <update id="updateDevice" parameterType="Device">
        update train.device
        set `devicename` = #{devicename}, norms = #{norms}, `describe` = #{describe}
        where ID = #{ID};
    </update>
    <update id="updateDeviceStatus" parameterType="Device">
        update train.device
        set `devicename` = #{devicename}, norms = #{norms}, `describe` = #{describe},
            devicestatus = #{devicestatus}, rentstatus = #{rentstatus}, factoryid = #{factoryid}
        where ID = #{ID};
    </update>

    <update id="repairDeviceById" parameterType="long">
        update train.device
        set devicestatus = 2
        where ID = #{ID};
    </update>

    <select id="queryDeviceById" resultType="Device">
        select * from train.device
        where ID = #{ID};
    </select>

    <select id="queryDeviceByFactoryId" resultType="Device">
        select * from train.device
        where factoryid = #{factoryid};
    </select>

    <select id="queryAllDevice" resultType="Device">
        select * from train.device;
    </select>
</mapper>